.about {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#daddd8;
}
.bio {
    padding: 50px;
}
.bio h1 {
    font-size: 60px;
    color: #3a5a40;
}
.bio p{
    font-size: 20px;
    line-height: 1.5;
} 

.portrait {
    height: 50%;
    margin: 50px;
    border-radius: 50%;
}